body
{
    margin: 0;
    padding: 0
}
@media(max-width:1200px)
{
    body
    {
        padding-top: 65px
    }
}
/* ------------------------------ stat firest part of wep sit (curosal) ------------------------- */
.header-curosal .carousel-item
{
    height:800px;
    align-items: center;
    justify-content: center;
}
.header-curosal a
{
    background: rgba(255, 255, 255, 0.8);
    top:49%;
    width:60px;
    height:120px;    
    
}
.header-curosal .carousel-item .back
{
    background:rgb(4, 14, 39,.4);
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center

}

.header-curosal .carousel-item .back .over div span
{
    background-image:url("../img/shape/1.png");
    padding:18px 42px;
    margin-bottom: 20px;
    font-family: "Paytone One";
    font-weight:400;
    color:white;
    font-size:20px
}
.header-curosal .carousel-item .back .over h2
{
    color:white;
    font-size:100px;
    font-weight: 400;
    font-family:"Paytone One";
    text-transform: capitalize;
    line-height: 0.9
}
.header-curosal .carousel-item .back .over > span
{
    display: block;
    color:#F2C64D;
    margin-top: -120px;
    font-size:140px;
    font-family: "Pacifico";
    
}
.header-curosal .carousel-item .back .over > span::first-letter
{
    font-size:180px;
}
@media(max-width:576px)
{   .header-curosal .carousel-item .back .over div 
    {
        margin-bottom: 30px;
    }
    .header-curosal .carousel-item .back .over div span
    {
        font-size: 18px

    }
.header-curosal .carousel-item .back .over h2
    {
    font-size:50px;
    }
    .header-curosal .carousel-item .back .over > span
    {
    font-size:80px;
    margin-top: -50px;

    }
.header-curosal .carousel-item .back .over > span::first-letter
    {
        font-size: 90px
    }

}@media(min-width:576px) and (max-width:768px)
{   .header-curosal .carousel-item .back .over div 
    {
        margin-bottom: 20px;
    }
    .header-curosal .carousel-item .back .over div span
    {
        font-size: 18px

    }
.header-curosal .carousel-item .back .over h2
    {
    font-size:70px;
    }
    .header-curosal .carousel-item .back .over > span
    {
    font-size:100px;
    margin-top: -50px;

    }
.header-curosal .carousel-item .back .over > span::first-letter
    {
        font-size: 110px
    }

}@media(min-width:768px) and (max-width:992px)
{   .header-curosal .carousel-item .back .over div 
    {
        margin-bottom: 20px;
    }
    .header-curosal .carousel-item .back .over div span
    {
        font-size: 18px

    }
.header-curosal .carousel-item .back .over h2
    {
    font-size:90px;
    }
    .header-curosal .carousel-item .back .over > span
    {
    font-size:120px;
    margin-top: -50px;

    }
.header-curosal .carousel-item .back .over > span::first-letter
    {
        font-size: 130px
    }

}

/* ------------------------------ end firest part of wep sit (curosal) ------------------------- */

















/* ------------------------------ start sacand part of wep sit (navbar) ------------------------- */
.navbar nav
{
    height: 100px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    position:fixed;
    background:#000;
    top:0;
    width:100%;
    margin: 0;
    left: 0;
    padding: 0 20px;
    z-index: 40
}
.navbar nav .list
{
    width:35%;
}
.navbar nav .social-icon
{
   width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.navbar nav .list > ul
{
    margin: 0;
    display:flex;
    position: relative
    
}
.navbar nav .list > ul > li > a
{
    font-family: "Paytone One";
    color: white;
    font-weight: 400;
    margin:0 10px;
    position: relative;
    text-decoration: none;
    font-size: 17px

}
.navbar nav .list > ul > li > .icon::after
{
    content: "\f107";
    font-family:'fontAwesome';
    position: absolute;
  
    
}
.navbar nav .list ul li ul
{
    position: absolute;
    background: white;
    padding:0 10px;
    top:43px;
    transform: translate(0,20px);
    opacity: 0;
    transition:0.4s ease-in-out;
    box-shadow: 2px 2px 6px #444    
}
.navbar nav .list ul li ul::after
{
    content: "";
    border-top:10px solid transparent;
    border-bottom:10px solid white;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    top:-20px;
    
    
}

.navbar nav .list ul li:hover ul{
    transform: translate(0);
    opacity: 1
}

.navbar nav .list ul li ul
{
    width:180px;
    
}
.navbar nav .list ul li ul li a,
.navbar nav .list ul li ul li a

{
    color:black;
    text-decoration: none;
    margin: 5px 0;
    display: block;
    font-size: 17px;
    font-weight:550;
    text-transform: capitalize;
    font-family: serif;
    transition:0.5s
}
.navbar nav .list ul li ul li a:hover
{
    padding-left: 10px
}

.navbar nav .list ul li .active
{
    display: block;
    font-family: "Paytone One";
    color:#F2C64D ;
    font-weight: 400;
    margin:0 10px;
    position: relative;
    text-decoration: none;
    border-bottom:2px solid #F2C64D;
    padding-bottom: 5px;
}

.navbar nav .logo
{
    width: 30%;
    text-align: center;
}
.navbar nav .list .sacandary::before
{
    content:attr(data-target);
    position: absolute;
    color:#F2C64D;
    width: 0;
    overflow: hidden;
    border-bottom:2px solid #F2C64D;
    font-family: "Paytone One";
    font-weight: 400;
    transition: 0.3s;
    padding-bottom: 5px

}
.navbar nav .list .sacandary:hover::before
{
    width:100%
}
.navbar nav .social-icon i
{
    color:white;
    cursor: pointer;
    margin: 0 10px;
    font-size:18px;
    transition: 0.2s
}
.navbar nav .social-icon button
{
    outline: 0;
    border:1px solid #F2C64D;
    padding: 12px 26px;
    font-size: 16px;
    font-weight: 550;
    color:#F2C64D;
    background:transparent;
    border-radius: 50px;
    margin: 10px;
    transition:0.2s ease-in-out
}
.navbar nav .social-icon button:hover{
    background:#F2C64D;
    color:white;
    
}

.navbar nav .social-icon i:hover{
    color:#F2C64D;
    
}
.navbar .smallest input
{
    display: none
}
.navbar .smallest > label i
{
    position: fixed;
    right:20px;
    top:20px;
    color:white;
    font-size: 30px;;
    cursor: pointer
    
}
.navbar .smallest aside
{
    transform: scale(1,0);
    opacity: 0;
    overflow: hidden
}
.navbar .smallest input:checked ~ aside
{
   transform: scale(1);
    opacity: 1
}

.navbar .smallest aside
{
    position: absolute;
    top:100px;
    left: 10%;
    right:10%;
    width: 80%;
    padding: 15px;
    background: white;
    transition: 0.5s
}
.navbar .smallest aside ul
{
    margin: 0;
}
.navbar .smallest aside > ul li a,
.navbar .smallest aside > ul li

{
    display: block;
    color:black;
    font-size: 17px;
    font-weight: 500;
    text-decoration:none;
    text-transform: capitalize;
    font-family: serif;
    transition:0.4s ease;
    margin: 5px 0
}
.navbar .smallest aside > ul li .active
{
    color:orange
}

.navbar .smallest aside > ul li a:hover,
.navbar .smallest aside > ul li:hover
{
    color:orange;
    cursor: pointer
}
.navbar .smallest aside > ul div ul
{
    margin-left: 30px;
    transition: 0.5s;
    height: 0;
    overflow: hidden
}
.navbar .smallest aside > ul div label{
    width:100%;
    position: relative;
    margin: 0
}
.navbar .smallest aside > ul div label::after
{
    content: "\f107";
    font-family:'fontAwesome';
    position: absolute;
    right:0;
    top:30%;
    transition: 0.4s
}
.navbar .smallest aside > ul div input:checked ~ label::after
{
    transform: rotate(180deg)
}
.navbar .smallest aside > ul div input:checked ~ ul
{
   height: 60px
}
.navbar .smallest aside > ul div input:checked ~ .another-drop
{
    height: 30px
}

@media(max-width:992px)
{
    .navbar nav
    {
        height:65px;
        background:black;
        padding:0 10px
    }
     .navbar nav .logo
    {
        text-align: left;
        height:70%;
        width: 10%;
    }
     .navbar nav .logo img
    {
        width:100%;
        height: 100%;
        border-radius:2px;
    }

}
@media(max-width:1200px) and (min-width:992px)
{
 .navbar nav
    {
        height:65px;
        background:black;
        padding:0 10px
    }
     .navbar nav .logo
    {
        text-align: right;
        height:70%;
        width: 10%;
        margin-left: 40px
    }
     .navbar nav .logo img
    {
        width:100%;
        height: 100%;
        border-radius:2px;
    }    
}
/* ------------------------------ end sacand part of wep sit (nav) ------------------------- */







/* ------------------------------ start thered part of wep sit (Menu) ------------------------- */
.Menu
{
    padding:80px 0;
}
.Menu header h2
{
    color:#F2C64D;
    font-family: "Pacifico";
    margin-bottom:20px;
    font-weight: 500
}
.Menu header .h1
{
    color:#1A0D01;
    font-size: 50px;
    font-family:sans-serif;
    font-weight:600;
    margin-bottom: 70px
}
.Menu .row .pairant {
    margin-bottom: 50px
}
.Menu .row .pairant .child1 div img
{
    height: 100%;
    width: 100%
}
.Menu .row .pairant .child1 div
{
  position: relative;
    width:100%;
    height:160px
}
.Menu .row .pairant .child1 div::after
{
    content: "";
    border-radius:50%;
    background: red;
    position: absolute;
    opacity: 0.2;
    top:0;
    bottom: 0;
    left: 15px;
    right:15px;
    transform: scale(0);
    transition: 0.5s
}
.Menu .row .pairant:hover .child1 div::after
{
        transform: scale(1);
        left: -20px;
        top:-20px;
        right:-20px;
        bottom: -20px
}
.Menu .row .pairant .child2 h2
{
    color:#1A0D01;
    margin-bottom:10px;
    font-family: "Montserrat";
    font-size:30px;
    font-weight:550
}
.Menu .row .pairant .child2 p
{
    font-size: 17px;
    font-style: italic;
        color: #6E6E6E;
    margin-bottom: 0

}
.Menu .row .pairant .child2 span
{
    color:#F0542C;
    font-size: 30px;
    font-weight: 700;
    transition: 0.3s
}
.Menu a
{
    width:100%;
    padding: 17px 0;
    outline: 0;
    border-radius: 35px;
    border:1px solid #F0542C;
    background:transparent;
    font-size:19px;
    font-family: "Montserrat";
    text-transform: capitalize;
    color:#F0542C;
    margin:30px 0 0 0;
    transition: 0.5s;
    font-weight: 600;
    text-decoration: none;
    text-align: center
}
.Menu a:hover
{
    background-image: linear-gradient(to right,#F0542C ,black);
    color:white;
    box-shadow: 4px 4px 9px #F0542C ,
        -4px -4px 9px #F0542C
}
@media(max-width:992px)
{
    .Menu .row .pairant .child1 img
{
    width: 50%;
    
}
    .Menu .row .pairant .child1 div
    {
        width: 160px;
    }
}
@media(max-width:758px)
{
    .Menu .row .pairant .child1 img
{
    width: 38%;
    
}
.Menu .row .pairant .child1 div
    {
        width: 160px;
        margin: auto
    }

}
/* ------------------------------ end thered part of wep sit (Menu) ------------------------- */








/* ------------------------------ start forth part of wep sit (mel) ------------------------- */
.mels{
    overflow: hidden
}
.mels .pairant
{
    display: flex;
    flex-wrap: wrap
}
.mels .pairant .child1,
.mels .pairant .child2
{
    width:50%;
    height: 350px;
    position: relative;
    overflow: hidden;
     perspective:600px

}
.mels .pairant div img
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    top:0;
}


.mels .pairant div div
{
    position: absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index: 6;
    padding: 90px 0px 0 80px
}
.mels .pairant > div div span
{
    font-size: 35px;
    font-weight:700;
    font-family: serif;
    color:#F0542C;
    display:block
}
.mels .pairant > div div h4
{
    font-family: 'Raleway';
    color:white;
    font-size: 45px
}
.mels .pairant > div div p
{
    color: white;
    font-style: italic;
    font-size: 17px
}
.mels .pairant > div div a
{
    display: block;
    width:150px;
    text-align: center;
    color:white;
    background:#F2C64D;
    border-radius: 19px;
    padding: 5px 0;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
    transition: 0.5s;
    text-decoration: none;
    border:1px solid #F2C64D;

}
.mels .pairant > div div a:hover
{
    border:1px solid #F2C64D;
    color:#F2C64D;
    background:transparent
}

.mels .pairant div:hover img
{
     transform: translatez(70px);
}
@media(max-width:992px)
{
    .mels .pairant .child1,
    .mels .pairant .child2
    {
        width:100%;
    }
}
/* ------------------------------ end thered part of wep sit (mel) ------------------------- */










/* ------------------------------ start forth part of wep sit (about) ------------------------- */
.about
{
    padding: 60px 0;
    overflow:hidden;
}
.about .pairant
{
    display:flex;
    flex-wrap: wrap
}

.about .pairant .child1
{
    width:50%;
    padding-right:50px;
    position: relative;
    height: 650px;
}
.about .pairant .child1 img:first-child
{
    width:100%;
    height:100%;
}.about .pairant .child1 div
{
    position: absolute;
    z-index: 2;
    right:30px;
    bottom:-45px;
    top:40%;
    left:40%
    
}
.about .pairant .child1 div img
{
    width: 100%;
    height: 100%
}

.about .pairant .child2
{
    width:50%;
    padding-left:50px;
    padding-top:50px
}
.about .pairant .child2 h2
{
    font-family: "Pacifico";
    color: #F2C64D;
    margin-bottom:25px;
    font-weight:400;
}
.about .pairant .child2 h3
{
    font-family: "Montserrat";
    color: #1A0D01;
    font-size:45px;
    font-weight:900;
    text-transform: capitalize;
    margin-bottom:20px
    
}
.about .pairant .child2 p
{
    font-size:17px;
    font-style:italic;
    line-height: 1.9;
    margin-bottom:30px
}
.about .pairant .child2 h4
{
    font-family: 'Raleway'
}
@media(max-width:768px)
{
    .about .pairant .child1,
    .about .pairant .child2
    {
        width:100%;
        
    }
}
@media(min-width:768px) and (max-width:992px)
{
.about .pairant .child2 p
    {
        line-height:1.3;
        margin-bottom: 10px
    }
}
/* ------------------------------ end forth part of wep sit (about) ------------------------- */










/* ------------------------------ end fifth part of wep sit (videw) ------------------------- */
.videw
{
    background-image:url('../img/video/video.png');
    background-size:cover;
    background-position:center;
    position: relative;
    text-align: center;
}
.videw .back
{
    
    background:rgb(4, 14, 39,0.4);
    width: 100%;
    padding:150px 0;
}
.videw .back .over h4
{
    font-family: "Paytone One";
    color:white;
    font-size:60px;
    margin-bottom: 15px
}
.videw .back .over p
{
    color:white;
    font-weight:600;
    font-family: "Montserrat";
    font-size: 26px
}
.videw .back .over div
{
    margin: auto;
    width:100px;
    height:100px;
    border-radius:50%;
    background:#F0542C;
    position: relative
    
}
.videw .back .over div::after
{
    position: absolute;
    content:"\f04b";
    font-family:'fontawesome';
    color:white;
    font-size: 32px;
    left:41px;
    top:26px;
    cursor: pointer;
    z-index: 3
}
.videw .back .over div::before
{
    content: "";
    border:3px solid white;
    background:transparent;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
    animation: spine 1.5s linear infinite;
    z-index: 2;
    border-radius: 50%;
    filter: blur(2px)
}

@keyframes spine
{
    from
    {
     left:50px;
     right:50px;
     top:50px;
     bottom: 50px;
    }
    to
    {
     left:0px;
     right:0px;
    top:0px;
    bottom: 0px;
    }
}
@media(min-width:576px)
{
.videw .back
    {
        padding: 70px 0;
    }
    .videw .back .over h4
    {
    font-size:40px;
    }
}
@media(min-width:0)
{
.videw .back
    {
        padding: 60px 0;
    }
    .videw .back .over h4
    {
    font-size:45px;
    }
} 
@media(min-width:768px)
{
.videw .back
    {
        padding: 90px 0;
    }
    .videw .back .over h4
    {
    font-size:50px;
    }
}
@media(min-width:992px)
{
.videw .back
    {
        padding: 150px 0;
    }
    .videw .back .over h4
    {
    font-size:60px;
    }
}
/* ------------------------------ end fifth part of wep sit (videw) ------------------------- */
    
    
    
    
    
    
    
    
    
/* ------------------------------ start sex part of wep sit (testmonial) ------------------------- */
.testmonials
{
    padding: 90px; 0;
    overflow: hidden;
}
.testmonials header h2
{
    font-family: "Pacifico";
    color:#F2C64D;
    margin-bottom:25px
}
.testmonials header h3
{
    font-family: "Montserrat";
    color:#1A0D01;
    font-size:50px;
    font-weight:900;
    margin-bottom:75px
}
.testmonials .openio p
{
    width:60%;
    margin: auto;
    font-size:17px;
    font-style:italic;
    margin-bottom: 30px;
}
.testmonials .openio img
{
    width:64px !important;
    height:64px;
    display: inline-block  !important
}
.testmonials .openio h4
{
    font-family: "Montserrat";
    color:#040e27;
    font-size:15px;
    margin-top:20px
}
.testmonials .openio i
{
    color:#F2C64D
}
.owl-theme .owl-dots .owl-dot
{
    outline: 0
}
.owl-theme .owl-dots .owl-dot span
{
    background:#666 !important
}
.owl-theme .owl-dots .owl-dot span:hover
{
    background: none !important
}
.owl-theme .owl-dots .owl-dot.active span
{
    background: #000 !important
}

/* ------------------------------ end sex part of wep sit (testmonial) ------------------------- */




















/* ------------------------------ start seven part of wep sit (swets) ------------------------- */
.swets-part
{
    padding:60px;
    overflow: hidden;
    
}
.swets-part .pairant
{
    flex-wrap:wrap
}
.swets-part .pairant > div
{
    padding: 0 19px;
    width:25%;
    margin-bottom:30px;
}
.swets-part .pairant .img
{
    width:244px;
    height:244px;
    margin: auto;
    position: relative;
    border-radius:50%;
    overflow: hidden;
    perspective: 500px
}
.swets-part .pairant .img img
{
    width: 100%;
    height: 100%;
    transition:0.5s;
    transform: scale(1.1)
}

.swets-part .pairant .img::after
{
    content:"";
    position: absolute;
    left: 40px;
    right: 40px;
    top:40px;
    bottom:40px;
    background:rgba(0,0,0,0.4);
    border-radius:50%;
    border:2px dotted white;
    animation:spiner linear 5s infinite;
    z-index: 1;
    transition: 0.5s;
    opacity: 0
    
}
.swets-part .pairant > div:hover .img::after
{
    left: 15px;
    right: 15px;
    top:15px;
    bottom:15px;  
    opacity: 1
}
.swets-part .pairant > div:hover .img::before
{
    transform: scale(1);
    opacity: 1
}
.swets-part .pairant > div .img:hover img
{
    transform: scale(1)
}

.swets-part .pairant .img::before
{
    content:"\f16d";
    opacity: 0;
    font-family:'fontawesome';
    position: absolute;
    left:45%;
    top:46%;
    font-size:29px;
    color:white;
    z-index: 2;
    transition: 0.5s;
    transform: scale(0.8)   
}


@keyframes spiner 
{
   from
    {
        transform: rotate(0)
    } to
    {
        transform: rotate(360deg)
    }
}

@media(min-width:0)
{
.swets-part .pairant > div
    {
        width:100%;
    }
}
@media(min-width:576px)
{
.swets-part .pairant > div

    {
        width:50%;
    }
}
@media(min-width:992px)
{
.swets-part .pairant > div
    {
        width:25%;
    }
}

/* ------------------------------ end seven part of wep sit (swets) ------------------------- */










/* ------------------------------ start nigne part of wep sit (footer) ------------------------- */
footer
{
    overflow: hidden
}
footer .pairant
{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}
footer .pairant > div
{
    padding:0 20px;
    margin-bottom: 25px
}
footer .pairant .child1 h2,
footer .pairant .child3 h2

{
    color:#1A0D01;
    font-family:"Montserrat";
    font-weight:600;
    font-size:25px;
    margin-bottom: 30px
    
}
footer .pairant .child1 p
{
    font-size:17px;
    font-style:italic;
    color:rgba(0,0,0,0.7);
    margin-bottom:12px
}
footer .pairant .child1 a
{
    text-decoration: none;
    color:#F0542C;
    font-weight:700;
    font-family: "Montserrat";
    font-size:19px
}
footer .pairant .child3 .input
{
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom:40px
}
footer .pairant .child3 .input input
{
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    border-radius: 19px;
    border:1px solid #aaa;
    padding: 0 15px;
    outline: 0;
}
footer .pairant .child3 .input button
{
    height:40px;
    border:none;
    position: absolute;
    right:0;
    top:0;
    width:100px;
    border-radius: 19px;
    font-size:17px;
    color:white;
    font-weight: 600;
    background:#F0542C;
    outline: 0

}
footer .pairant .child3 p
{
    font-style: italic;
    font-size: 17px
}
footer .icons
{
    margin-bottom:60px
}
footer .icons ul li
{
    display: inline-block
}

footer .icons i
{
   display:flex;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    color:#F0542C;
    font-size:18px;
    margin: 0 5px;
    border-radius: 50%;
    background:transparent;
    position: relative;
    cursor:pointer
}
footer .icons i::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:1px dashed #F0542C;
    animation:spiner linear infinite 2.5s
}
footer .last-part
{
    padding:40px 0;
    text-align:center;
    border-top:1px solid #999
    
}
footer .last-part p
{
    font-size:18px;
    font-style: italic;
    text-align: center
}
footer .last-part p span
{
    color:#f0542c;
    cursor:pointer
}
footer 

@media(min-width:0)
{
    footer .pairant > div
    {
        width:100%
    }
}
@media(min-width:576px)
{
    footer .pairant > div
    {
        width:50%
    }
}
@media(min-width:992px)
{
    footer .pairant > div
    {
        width:33.333%
    }
}

































/* ------------------------------ end nigne part of wep sit (footer) ------------------------- */



































